<div [ngStyle]="{'width': '400px','margin': '30px auto', 'background': 'gainsboro', 'padding': '20px'}">    <form class="form-horizontal">        <div class="form-group" *ngFor="#user of userList">            <user-directive [user]="user"></user-directive>        </div>    </form></div>